.hero {
  background-image: url("https://images.pexels.com/photos/1666467/pexels-photo-1666467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: contain;
  h1, h2, a {
    margin: 20px 0px;
  }
}

.section{
  min-height: 100vh;
  background-color: rgba(0,0,0, 0.05);
}

.container {
  padding: 50px 20px;
  margin: 0px 100px;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 20px;
  border: 3px solid white;
}

.post {
  display: flex;
  justify-content: center;
  margin: 50px 20px;
  input {
    padding:20px 400px 20px 10px;
  }
  .button {
    margin: 2px 0px 0px 30px;
  }
}
.announcement {
  margin-top: 70px;
}

.comment {
  margin: 20px;
  padding: 30px;
  border-radius: 5px;
  background-image: linear-gradient(rgba(255, 56, 96, 0.05), rgba(255, 56, 96, 0.03));

}

.button.is-danger{
  margin-right: 20px;
}

footer{
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
